$white: #FFFFFF;
$grey: #697D95;
$grey-light: rgba(105, 125, 149, 0.16);
$blue: #2175D9;
$blue-dark: #144682;
$background: #F4F7FC;
$black: #0F1941;
$yellow: #FFB511;
body {
  margin: 0;
  background: $background;
}


.form-group {
  text-align: center;
  justify-content: center;

}

.question {
  margin-bottom: 40px;
  //margin-top: 30px;
}

.container {
  padding-right: 25px;
  padding-left: 25px;

  margin-right: auto;
  margin-left: auto;
}

.card-button {
  width: 160px;
  height: 152px;
  padding: 15px !important;
  margin-bottom: 30px;
  background: $white;
  border-radius: 6px;

  img {
    margin-top: -45px;
  }

  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.card {
  padding: 20px !important;
  margin-bottom: 25px;

  h4 {
    font-weight: bold;
  }

  p {
    margin-bottom: 0;
  }

  background: $white;

  .card-content {
    background: $background;
    padding-bottom: 90px;
  }

  .bubble-illustration {
    position: absolute;
    right: 0;
    margin-top: -30px;
  }


}

.card-suggestion {
  padding: 20px !important;
  margin-bottom: 25px;

  h4 {
    font-weight: bold;
  }

  p {
    margin-bottom: 0;
  }

  background: $white;

  .card-content {
    background: $background;
    padding-bottom: 90px;
  }


}

.bubble-info {
  margin: 60px;
  border-radius: 10px !important;
}

.fourth-step {
  margin-top: 200px;
}

.section-presentation {
  display: grid;
  margin-bottom: 110px;

  .card-presentation:first-child {
    margin-top: 275px;
  }
}

.slider {
  margin: 20px;
  margin-bottom: 80px;
  margin-top: 0 !important;
}

.slider-section {
  margin-top: 80px;
}

.card-presentation {
  padding: 20px !important;
  margin-bottom: 25px;

  h4 {
    font-weight: bold;
  }

  p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
  }

  background: $white;

  .card-content {
    background: $background;
    padding-bottom: 90px;
  }
}

/*
MAIN APP
 */
.all-app {
  a {
    text-decoration: none;
    color: $black;

    &:hover {
      text-decoration: none;
    }
  }
}

.main-app {
  margin-top: 20px;
  margin-bottom: 105px;
}

.section {
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: solid #E8EDF1;

  p {
    margin: 0;
  }

  img {
    margin-left: auto;
  }
}


/*
TOPBAR NAV
 */
.topbar {
  display: flex;
  vertical-align: middle;
  margin-top: 25px;
  align-items: center;
  //position: fixed;
  //width:85%;

  img {
    margin-right: 5px;
    display: flex;
    align-items: center;
  }

  h1 {
    font-weight: 600;
    display: flex;
    align-items: center;
    font-family: 'Graphik';
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: -0.02em;
  }

  .notification {
    margin-left: auto;
  }
}

.topbar-offer {
  background: #144682;
  background-size: 100% auto;
  width: 100%;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;

  .topbar-info {
    color: $white;

    img {
      display: initial;
    }

    text-align: center;

    h2 {
      font-weight: 700;
      font-size: 16px;
    }

    h4 {
      font-weight: 400;
      font-size: 16px;
    }

    .bottom-info {
      display: flex;
      justify-content: center;

      p {
        margin-left: 5px;
        margin-right: 5px;
        font-weight: 300;
        font-size: 11px;
      }
    }
  }
}

.topbar-option {
  padding-top: 80px;
  background: $blue-dark;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  a{
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    padding: 12px 16px;
    color: $white;
  }
}

.selected-option{
  box-shadow: inset 0px -2px 0px #FFB511;
}

/*
BOTTOM NAV
 */

.bottom-nav {
  background: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  border-top: solid #E8EDF1;
}

.button-nav {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $grey;
  padding: 5px;
  width: 100px;

  img {
    display: inline-flex;
    text-align: center;
    align-items: center;
  }

  p {
    margin: 0;
    padding: 0;
  }

  //&:hover {
  //  background: $grey-light;
  //  border-radius: 15px;
  //}
}

.home-redirection {
  display: flex;
  justify-content: center;
  margin-top: 30%;
  margin-bottom: 30%;

  a {
    margin: 10px;
  }
}

/*
HOME TERMINAL
 */

.home-terminal {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  padding: 40px;
  background: #144682;
  min-height: 100vh;

  h2 {
    margin-top: 40px;
    font-size: 22px;
    color: $yellow;
  }

  img {
    margin: 90px auto auto;
  }

  .logo-top {
    img {
      margin: 0 10px 0 0;
      font-weight: 400;
      font-size: 32px;
    }

    span {
      font-weight: 400;
      font-size: 32px;
      line-height: 24px;
      color: $yellow;
      margin-top: 3px;
    }

    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
}

.step {
  text-align: center;
  margin-top: 50px;

  .center-image {
    margin: auto auto 50px;
  }

  span {
    text-decoration: underline;
    color: $black;
    //margin-top: 100px;
  }

  h2 {
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 40px;
  }
}

.btn-blue {
  background: #2175D9;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 40px;
}

.container-choice {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.grid-3 {
  margin: 154px 18px 40px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  margin: 90px 90px 40px;
  grid-template-columns: repeat(2, 1fr);
}
