@font-face {
    font-family: 'GraphikRegular';
    src: url('./assets/font/GraphikRegular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'GraphikRegular', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
